@import url('https://fonts.googleapis.com/css2?family=Anta&family=Exo+2:wght@600&family=Monoton&family=Protest+Guerrilla&family=Protest+Riot&display=swap');
*,html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    
    outline: none;

}

body{
    height: 100vh;
    /* background-color: #000;     */
}



.PR-main{
    height: 100%;width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    background: #272727;


    background-image: url("https://static.vecteezy.com/system/resources/previews/005/005/190/non_2x/minimal-black-background-with-texture-design-banner-pattern-background-concept-vector.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}    
#PR-heading-text{
    margin: 1rem 2rem;
    
    font-size: clamp(2rem, 4vw, 3.5rem);
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: white;
    font-weight: bold;
}
.PR-fetch-box{

    
    height: 300px;
    text-align: center;
    width: clamp(300px, 95vw, 800px);
    background-color: #181818;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;

    gap: 1rem;
    & p{
        font-size: clamp(1rem, 3vw, 3rem);
        font-size: 2.5rem;
        font-family: "Exo 2", sans-serif;
        color: white;
        margin: 15px;
    }
}

.snowflake {
    color: rgb(31, 184, 255);
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    
  }

  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
.mask-text{

    background:radial-gradient(circle 170px, rgb(255, 0, 255),rgb(97, 61, 255));
    background-size: 200% 200%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-size: 3.254rem;
    animation: bg-zoom 1s alternate-reverse infinite forwards ease-in-out;

    
}
@keyframes bg-zoom {
    from{
        background-position: 0% 0%;
    }
    to{
        
        background-position: 100% 100%;

    }
}
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;

  }

.btn{
    width: 150px;
    padding: 4px 0px;
    border-radius: 4px;
    border:none;
    background-image: linear-gradient();
}
.btn{

    border-radius: 5px;
    border: none;
    padding: 5px 0px;
    outline: none;
    width: 150px;
    color: white;
    font-size: 1rem;
    background-image: linear-gradient(to right, #e433af , cyan, #a85ea2);
    background-size: 380px 50px;
    background-position: 0%;
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 0px 0px 0px #fff;
}
.btn:hover{
    scale: 1.02;
    background-position: 100%;
    box-shadow: 0px 1px 15px 1px #90b7d5;
}

.btn:active{
    background-position: 0%;
    scale: 0.8;
}


#PR-text-input{
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.05rem;
    background-color: white;
    color: black;
    font-weight: bold;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
#PR-text-input:hover{
    box-shadow: 0px 1px 10px 1px #fff;

}

#PR-text-input::placeholder {
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: gray;

}

.ani {
    height: 10px;
    width: 10px;
    padding: 1px 25px;
    margin: 10px 10px;
    border-top: 1px dotted blueviolet;
    border-right: 2px dotted blueviolet;
    border-bottom: 2.5px dotted violet;
    /* box-shadow: 2px 0px 5px 1px blueviolet; */
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    animation: rottt 1s forwards alternate ease-in-out;
}

@keyframes rottt {
    from {
        transform: rotate(0deg) scale(1); 
    }
    to {
        transform: scale(0.5) rotate(360deg);
    }
}
a , a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}