<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='notFound.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="\PROJECT\static\notFound.css">
    <link rel="stylesheet" href="\PROJECT\static\style.css">
    <title>OOPS! NOT FOUND</title>
    
</head>
<body>
    <div class="PR-main">
        <header style="width: 100%;"> 
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            
            <p id="PR-heading-text">
                <span class="mask-text">
                    REAL TIME</span>
                    PRODUCT REVIEW INTERFACE
                </p>
                
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">         
        </header>
        <div class="PR-fetch-box">
            <p>OOPS!! 404</p>
            <p>
                Couldn't fetch for the product.. :/
                <!-- {{text}} -->
            </p>
            
        </div>
        <button class="btn"><a href="/">Back 🔙</a></button>
    </div>
</body>
</html>
